@layer components {
    .tags {
        @apply flex items-center gap-2;

        a {
            color: var(--color-main);
        }
    }


    .soc {
        @apply flex gap-2;

        a {
            @apply flex items-center justify-center text-black bg-gray-200 w-[40px] h-[40px] rounded-sm transition;

            &:hover {
                background-color: var(--color-main);
                @apply text-white;
            }
        }

        &_main a {
            background-color: var(--color-main);
            @apply text-white;

            &:hover {
                @apply text-white bg-gray-800;
            }
        }
    }


    .chip {
        @apply inline-flex bg-red-100 text-[10px] tracking-widest font-bold uppercase px-4 py-2 rounded-full;
        color: var(--color-main);
    }


    .date {
        @apply flex gap-1 items-center text-[12px];
    }


    .theme-switcher,
    .search-btn,
    .share-btn {
        @apply w-[40px] h-[40px] inline-flex items-center justify-center text-white rounded-sm;
        background-color: var(--color-main);
    }


    .contacts {
        @apply flex gap-x-6 gap-y-1 items-center justify-center flex-wrap;

        a {
            @apply flex items-center gap-2;
        }

        svg {
            color: var(--color-main);
        }
    }


    .networks {
        @apply grid grid-cols-3 gap-3;

        .network {
            @apply bg-[#ebebeb] rounded-lg p-4 flex flex-col items-center gap-1 transition;

            &:hover {
                @apply bg-gray-200;
            }

            svg {
                @apply  text-white;
            }

            &-icon {
                @apply  w-[40px] h-[40px] rounded-full flex items-center justify-center;
            }

            .soc {
                &-1 {
                    background-color: $color_1;
                }
                &-2 {
                    background-color: $color_2;
                }
                &-3 {
                    background-color: $color_3;
                }
                &-4 {
                    background-color: $color_4;
                }
                &-5 {
                    background-color: $black;
                }
                &-6 {
                    @apply bg-green-600;
                }
            }
        }
    }

}